! =========================
! Xresources Configuration
! =========================
!
! Features:
!  * nord theme color (+ ARGB color)
!  * dwm  style
!  * rofi style
!
! Author: Andrea Rossoni
! Date:   2021.10.17
!

! Color Config
#include ".Xresources.d/nord"

! Dwm Config
#include ".Xresources.d/dwm"

! Rofi Config
#include ".Xresources.d/rofi"
