! ========================
! Xresources Configuration
! ========================
!
! Features:
!  * nord theme color (+ ARGB color)
!  * dwm  style
!
! Author: Andrea Rossoni
!

! Color Config
#include ".Xresources.d/nord"

! Dwm Config
#include ".Xresources.d/dwm"
